* {
  line-height: 2.2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html {
  color: #4b84a1;
  background-color: #2f2f2f;
  display: table;
  height: 100%;
  text-align: center;
  width: 100%;
}

body {
  display: table-cell;
  vertical-align: middle;
  margin: 2em auto;
}

h1 {
  color: #e1a8a8;
  font-size: 2em;
  font-weight: 400;
}

p {
  margin: 0 auto;
  width: 280px;
}
@media only screen and (max-width: 680px) {

  body,
  p {
      width: 95%;
  }

  h1 {
      font-size: 5.5em;
      margin: 0 0 0.3em;
  }
}


button.btn {

 margin: 30px 0 15px 15px;
  letter-spacing: 1px;
  color: #d3cdcd;
  background-color: transparent;
  border: 0;
  transition:ease-in-out 0.5s;
}
button.btn:hover{
  background-color: #d3cdcd;
  padding: 10px;
  color: #36518c;
  border-radius: 20px;
}
svg{
  font-size: 150px;
  padding-top:11%;
}
.will{
  fill: none;
  stroke: #d3cdcd;
  stroke-width: 3px;
  stroke-dasharray:8% 30%;
  stroke-dashoffset: 0;
  animation: textanimation 6s linear infinite;
}
@keyframes textanimation{
  100%{
      stroke-dashoffset:-35%;

  }
}
.will1{
  stroke: #9b83c5;
  animation-delay: -1s;
}
.will2{
  stroke: #babebe;
  animation-delay: -2s;
}
.will3{
  stroke: #b73a3a;
  animation-delay: -3s;
}
.will4{
  stroke: #3ab7a0;
  animation-delay: -4s;
}
.will5{
  stroke: #36518c;
  animation-delay: -5s;
}



.myBtn {
  margin: 30px 0 15px 15px;
  letter-spacing: 1px;
  color: #d3cdcd;
  background-color: transparent;
  border: 0;
  transition:ease-in-out 0.5s;
}
.myBtn:hover{
  background-color: #9bb6c5;
  padding: 10px;
  color: #36518c;
  border-radius: 20px;
}